body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 1rem;
    text-align: center;
}

main {
    padding: 2rem;
    max-width: 600px;
    margin: 2rem auto;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
    color: #333;
}

form {
    margin-top: 1rem;
    font-size: 20px;
}

label, select, button {
    display: block;
    width: 100%;
    margin: 0.5rem 0;
    font-size: 20px
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 0.75rem;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#result, #diagnosis-message {
    margin-top: 1rem;
    text-align: center;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #4CAF50;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}
